<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.moonmonkeylabs.tightsandscarves" >

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme" >
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <meta-data
        android:name="com.crashlytics.ApiKey"
        android:value="68121727b230651ab126fbb14ded50ba5d30abb0" />
  </application>

  <uses-permission android:name="android.permission.INTERNET" />
</manifest>
